<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/global.css" />
    <script src="../assets/lib/escapeHTML.js"></script>
    %%SCRIPT_PLACEHOLDER%%
    <title>%%DOCUMENT_TITLE%%</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <nav class="bg-blue-900 w-full">
      <a href="/"
        ><img class="w-44 mx-auto pt-3" src="../../assets/portræt.jpeg" alt=""
      /></a>
      <div class="flex justify-around mt-5 pb-3 text-lg font-bold text-white">
        <div class="bg-green-700 rounded-full py-3 px-5 hover:bg-green-800">
          <a href="/projects">Projects</a>
        </div>
        <div class="bg-green-700 rounded-full py-3 px-5 hover:bg-green-800">
          <a href="/CV">CV</a>
        </div>
        <div class="bg-green-700 rounded-full py-3 px-5 hover:bg-green-800">
          <a href="/contact">Contact</a>
        </div>
      </div>
    </nav>
  </body>
</html>
