<main class="flex-grow">
  <div class="my-5 text-center text-2xl font-bold">CV</div>
  <header>
    <ul>
      <% files.map(file => { %>
      <li>
        <a href="<%= file.name %>"><%= file.name %></a>
      </li>
      <% }) %>
    </ul>
  </header>
  <section>
    <% if((typeof(file) !== 'undefined')) { %>
    <embed src="<%= file.url %>" width="500" height="646" />
    <% } %>
  </section>
</main>
